ffprobe
PyPDF2
speechRecognition
urllib3
matplotlib
bs4
ffmpeg
tk
pygame
phonenumbers
docx
openpyxl
numpy
customtkinter
CTkMessagebox
qrcode
pandas
requests
pillow
pdf2image
moviepy
pyshorteners
pdf2docx
yt-dlp
tabula
pytesseract
cv2
folium
rasterio